<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{903,160},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{903,362},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{894,564},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{639,679},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{841,766},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Backgroup_Block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,223}</string>
                <key>spriteSourceSize</key>
                <string>{216,223}</string>
                <key>textureRect</key>
                <string>{{421,679},{216,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lead_content.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,335}</string>
                <key>spriteSourceSize</key>
                <string>{270,335}</string>
                <key>textureRect</key>
                <string>{{378,116},{270,335}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Record_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,37}</string>
                <key>spriteSourceSize</key>
                <string>{41,37}</string>
                <key>textureRect</key>
                <string>{{1133,1},{41,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Setup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{766,939},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>audio_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,56}</string>
                <key>textureRect</key>
                <string>{{1096,640},{75,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>audio_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,56}</string>
                <key>spriteSourceSize</key>
                <string>{70,56}</string>
                <key>textureRect</key>
                <string>{{766,881},{70,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,46}</string>
                <key>spriteSourceSize</key>
                <string>{80,46}</string>
                <key>textureRect</key>
                <string>{{1043,914},{80,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{157,157}</string>
                <key>spriteSourceSize</key>
                <string>{375,377}</string>
                <key>textureRect</key>
                <string>{{974,1},{157,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,7}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{375,377}</string>
                <key>textureRect</key>
                <string>{{457,904},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,5}</string>
                <key>spriteSize</key>
                <string>{225,225}</string>
                <key>spriteSourceSize</key>
                <string>{375,377}</string>
                <key>textureRect</key>
                <string>{{667,446},{225,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{289,289}</string>
                <key>spriteSourceSize</key>
                <string>{375,377}</string>
                <key>textureRect</key>
                <string>{{376,388},{289,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{373,373}</string>
                <key>spriteSourceSize</key>
                <string>{375,377}</string>
                <key>textureRect</key>
                <string>{{1,380},{373,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,377}</string>
                <key>spriteSourceSize</key>
                <string>{375,377}</string>
                <key>textureRect</key>
                <string>{{1,1},{375,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>border_two.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,75}</string>
                <key>spriteSourceSize</key>
                <string>{180,75}</string>
                <key>textureRect</key>
                <string>{{163,906},{180,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1096,564},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_play_againx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,149}</string>
                <key>spriteSourceSize</key>
                <string>{418,149}</string>
                <key>textureRect</key>
                <string>{{1,755},{418,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1105,160},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,92}</string>
                <key>spriteSourceSize</key>
                <string>{110,92}</string>
                <key>textureRect</key>
                <string>{{345,906},{110,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,328}</string>
                <key>spriteSourceSize</key>
                <string>{186,328}</string>
                <key>textureRect</key>
                <string>{{715,116},{186,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>five.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1105,214},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>follow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{562,904},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>four.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1105,266},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{594,113}</string>
                <key>spriteSourceSize</key>
                <string>{594,113}</string>
                <key>textureRect</key>
                <string>{{378,1},{594,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1105,318},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranking_list.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,100}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{1,906},{160,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{664,881},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{841,673},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,91}</string>
                <key>spriteSourceSize</key>
                <string>{146,91}</string>
                <key>textureRect</key>
                <string>{{1043,766},{146,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>three.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1105,370},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>two.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1105,422},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FireUP.png</string>
            <key>size</key>
            <string>{1171,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5adf2bd4dd47aa7afdfcb0ba2ad9d0b:31733bd4c1e2841093646117b790a8ff:ff411e562f25b6d1696110363c3c3eee$</string>
            <key>textureFileName</key>
            <string>FireUP.png</string>
        </dict>
    </dict>
</plist>
